<section class="about" id="about">
  <div class="about__container">
    <p class="about__label">TRADITION AND LOVE</p>
    <h2 class="about__title">HOW IT'S MADE?</h2>
    <div class="about__cow-wrapper">
      <picture>
        <source
          srcset="./images/about/cow-desktop-x1.png 1x, ./images/about/cow-desktop-x2.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./images/about/cow-tablet-x1.png 1x, ./images/about/cow-tablet-x2.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/about/cow-mobile-x1.png 1x, ./images/about/cow-mobile-x2.png 2x"
          media="(min-width:320px)"
        />
        <img class="about__cow-picture" src="./images/about/cow-mobile-x1.png" alt="cow" />
      </picture>

      <div class="about__text-wrapper">
        <p class="about__text-one">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text-two">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__text-three">Aliquam erat volutpat. Aenean accumsan.</p>

        <button type="button" class="about__button" data-modal-open>
          Read more
          <svg class="about__button-arrow" width="10px" height="10px">
            <use href="./images/about/sprite-about.svg#icon-arrow"></use>
          </svg>
        </button>

    <div class="modal__about is-hidden" data-modal>
      <section class="modal__about-content">
        <button class="modal__about-exit" data-modal-close>
          <svg width="11" height="11">
            <use href="./images/about/sprite-about.svg#x"></use>
          </svg>
        </button>
        <p class="modal__about-title">ICE CREAM</p>
            <div>
              <p class="modal__about-subtitle">Lorem ipsum</p>
              <p class="modal__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, cupiditate culpa numquam quis corrupti ratione quia laudantium fugit, dolorum hic soluta explicabo minus quidem. At, aut? Doloribus aspernatur perferendis dignissimos.</p>
              <p class="modal__about-subtitle">Lorem ipsum</p>
              <p class="modal__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, cupiditate culpa numquam quis corrupti ratione quia laudantium fugit, dolorum hic soluta explicabo minus quidem. At, aut? Doloribus aspernatur perferendis dignissimos.</p>
              <p class="modal__about-subtitle">Lorem ipsum</p>
              <p class="modal__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, cupiditate culpa numquam quis corrupti ratione quia laudantium fugit, dolorum hic soluta explicabo minus quidem. At, aut? Doloribus aspernatur perferendis dignissimos.</p>
            </div>
      </section>
    </div>
  </div>
</section>