<section class="advantage">
  <div class="container">
    <ul class="advantage__list">
      <li class="advantage__item">
        <img
          class="advantage__symbol"
          src="/images/icon-advantage1.png"
          srcset="/images/icon-advantage1@2x.png 2x"
          alt="First symbol of advantages"
        />
        <p class="advantage__caption">721</p>
        <p class="advantage__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__item">
        <img
          class="advantage__symbol"
          src="/images/icon-advantage2.png"
          srcset="/images/icon-advantage2@2x.png 2x"
          alt="Second symbol of advantages"
        />
        <p class="advantage__caption">16kg</p>
        <p class="advantage__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__item">
        <img
          class="advantage__symbol"
          src="/images/icon-advantage3.png"
          srcset="/images/icon-advantage3@2x.png 2x"
          alt="Third symbol of advantages"
        />
        <p class="advantage__caption">84</p>
        <p class="advantage__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
    <picture>
      <source
        srcset="/images/gallery-desktop.png 1x, /images/gallery-desktop@x2.png 2x"
        media="(min-width:1280px)"
      />
      <source
        srcset="images/gallery-tablet.png 1x, images/gallery-tablet@x2.png 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="images/gallery-mobile.png 1x, images/gallery-mobile@x2.png 2x"
        media="(min-width:320px)"
      />
      <img
        class="advantage__img"
        src="images/gallery-mobile.png"
        alt="Gallery with pictures of ice cream"
      />
    </picture>
  </div>
</section>
