<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="offscreen">Contacts</h2>
    <ul class="contacts__grid">
      <li class="contacts__item contacts-box">
        <button type="button" class="contacts-box__type">
          <span class="contacts-box__type-text">cafe</span>
        </button>
        <article class="contacts-box__place">
          <p class="contacts-box__city">Chicago</p>
          <p class="contacts-box__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </article>
        <article class="contacts-box__opening-hours">
          <p class="contacts-box__days">Monday - Friday</p>
          <p class="contacts-box__hours contacts-box__hours--first">06:00 AM - 10:00 PM</p>
          <p class="contacts-box__days">Saturday - Sunday</p>
          <p class="contacts-box__hours">08:00 AM - 16:00 PM</p>
        </article>
        <address class="contacts-box__address">
          <a href="tel:+61(0)383766284" class="contacts-box__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-box__link">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts__item contacts-box">
        <button type="button" class="contacts-box__type contacts-box__type--foodtruck">
          <span class="contacts-box__type-text">foodtruck</span>
        </button>
        <article class="contacts-box__place">
          <p class="contacts-box__city">Los Angeles</p>
          <p class="contacts-box__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </article>
        <article class="contacts-box__opening-hours">
          <p class="contacts-box__days">Monday - Friday</p>
          <p class="contacts-box__hours contacts-box__hours--first">06:00 AM - 10:00 PM</p>
          <p class="contacts-box__days">Saturday - Sunday</p>
          <p class="contacts-box__hours">08:00 AM - 16:00 PM</p>
        </article>
        <address class="contacts-box__address">
          <a href="tel:+61(0)383766284" class="contacts-box__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-box__link">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts__item contacts-box">
        <button type="button" class="contacts-box__type">
          <span class="contacts-box__type-text">cafe</span>
        </button>
        <article class="contacts-box__place">
          <p class="contacts-box__city">New York</p>
          <p class="contacts-box__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </article>
        <article class="contacts-box__opening-hours">
          <p class="contacts-box__days">Monday - Friday</p>
          <p class="contacts-box__hours contacts-box__hours--first">06:00 AM - 10:00 PM</p>
          <p class="contacts-box__days">Saturday - Sunday</p>
          <p class="contacts-box__hours">08:00 AM - 16:00 PM</p>
        </article>
        <address class="contacts-box__address">
          <a href="tel:+61(0)383766284" class="contacts-box__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-box__link">noreply@envato.com</a>
        </address>
      </li>
    </ul>
    <ul class="buttons-grid">
      <li class="buttons-grid__item">
        <button class="buttons-grid__button buttons-grid__button--locations">
          <span class="buttons-grid__button-text buttons-grid__button-text--locations"
            >Our Locations</span
          >
          <svg class="buttons-grid__icon buttons-grid__icon--first">
            <use href="../images/symbol-defs.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </li>
      <li class="buttons-grid__item">
        <button class="buttons-grid__button buttons-grid__button--franchise">
          <span class="buttons-grid__button-text buttons-grid__button-text--franchise"
            >Franchise</span
          >
          <svg class="buttons-grid__icon buttons-grid__icon--second">
            <use href="../images/symbol-defs.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
