    <section class="swiper mySwiper container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="customer__card">
            <div class="customer__picture"><img src="/images/customer-reviews/customer-1.jpg"></div>
            <div class="customer__review">
              <p class="customer__review--text customer__review--bg">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                ipsum primis in nibh vel risus.
              </p>
              <div class="customer__quote"></div>
            </div>
            <div class="customer__slide">
              <div class="customer__slide--red"></div>
              <div class="customer__slide--red"></div>
              <div class="customer__slide--red"></div>
            </div>
            <p class="customer__name">Emily, Los Angeles</p>
            <div class="customer__slide">
              <div class="customer__slide--home"></div>
              <div class="customer__slide--grey"></div>
              <div class="customer__slide--grey"></div>
            </div>
          </div></div>
          
        <div class="swiper-slide"><div class="swiper-slide">
            <div class="customer__card">
            <div class="customer__picture"><img src="../images/customer-reviews/customer-2.jpg"></div>
            <div class="customer__review">
              <p class="customer__review--text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                ipsum primis in nibh vel risus.
              </p>
              <div class="customer__quote"></div>
            </div>
            <div class="customer__slide">
              <div class="customer__slide--red"></div>
              <div class="customer__slide--red"></div>
              <div class="customer__slide--red"></div>
            </div>
            <p class="customer__name">Jennifer, California</p>
            <div class="customer__slide">
              <div class="customer__slide--grey"></div>
              <div class="customer__slide--home"></div>
              <div class="customer__slide--grey"></div>
            </div>
          </div></div></div>
        <div class="swiper-slide"><div class="customer__card">
            <div class="customer__picture"><img src="../images/customer-reviews/customer-3.jpg"></div>
            <div class="customer__review">
              <p class="customer__review--text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                ipsum primis in nibh vel risus.
              </p>
              <div class="customer__quote"></div>
            </div>
            <div class="customer__slide">
              <div class="customer__slide--red"></div>
              <div class="customer__slide--red"></div>
              <div class="customer__slide--red"></div>
            </div>
            <p class="customer__name">Kate, New York</p>
            <div class="customer__slide">
              <div class="customer__slide--grey"></div>
              <div class="customer__slide--grey"></div>
              <div class="customer__slide--home"></div>
            </div>
          </div></div></div>
        
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </section>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

