<div class="banner hero-header__banner">
    <ul class="banner__list">
        <li class="banner__item">
            <h1 class="banner__title">ice cream made with passion</h1>
        </li>
        <li class="banner__item">
            <a class="banner__link" href="#products">
                <button class="banner__button banner__button--left" type="button">Products</button>
            </a>
        </li>
        <li class="banner__item">
            <a class="banner__link" href="#howitsmade">
                <button class="banner__button banner__button--right" type="button">How it's made?</button>
            </a>
        </li>
        <li class="banner__item">
            <img class="banner__image banner__image--first" src="/images/milk-tablet.png" alt="A jug of milk with inscription bio eco"/>
        </li>
        <li class="banner__item">
            <p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </li>
        <li class="banner__item">
            <img class="banner__image banner__image--middle" src="/images/cone-mobile.png" alt="ice-cream cone"/>
        </li>
        <li class="banner__item">
            <svg class="banner__icon banner__icon--up">
                <use href="/images/symbol-defs.svg#banner-icon-1"></use>
            </svg>
        </li>
        <li class="banner__item">
            <svg class="banner__icon banner__icon--down">
                <use href="/images/symbol-defs.svg#banner-icon-2"></use>
            </svg>
        </li>
        <li class="banner__item">
            <img class="banner__image banner__image--last"src="/images/girl-tablet.png" alt="girl with sunglasses wearing blue swimsuit licking ice-cream cone and comic cloud with insciption soooooo tasty!"/>
        </li>
    </ul>
</div>