<section class="hero-header">
  <div class="container">
    <div>
      <nav class="hero-header__nav">
        <div class="hero-header__logo">
          <img
            src="/images/logo/logo@x1.png"
            srcset="/images/logo/logo@2x.png 2x"
            alt="IceCream brand logo"
          />
        </div>
        <ul class="hero-header__nav-list">
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link">Home</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link">About us</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link">How it's made</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link">Our products</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link">Contact</a>
          </li>
        </ul>
        <div class="navigation__icon__box">
          <button
            type="button"
            class="menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="navigation__icon" width="20" height="12px">
              <use href="./images/icons.svg#icon-Burger"></use>
            </svg>
          </button>
        </div>
        <button class="navigation__button" type="button">Buy now ></button>
      </nav>

      <div class="menu-container js-menu-container" id="mobile-menu">
        <button>Buy now</button>
        <button class="js-close-menu">
          <!-- <svg>
                <use></use>
              </svg> -->
        </button>
        <div class="mobile-navigation">
          <ul class="mobile-navigation__list">
            <li class="mobile-navigation__list__item">
              <a class="mobile-navigation__list__link">Home</a>
            </li>
            <li>
              <a>About us</a>
            </li>
            <li>
              <a>How it's made?</a>
            </li>
            <li>
              <a>Our products</a>
            </li>
            <li>
              <a>Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banner hero-header__banner">
      <ul class="banner__list">
        <li class="banner__item">
          <h1 class="banner__title">ice cream made with passion</h1>
        </li>
        <li class="banner__item">
          <a class="banner__link" href="#products">
            <button class="banner__button banner__button--left" type="button">Products</button>
          </a>
        </li>
        <li class="banner__item">
          <a class="banner__link" href="#howitsmade">
            <button class="banner__button banner__button--right" type="button">
              How it's made?
            </button>
          </a>
        </li>
        <li class="banner__item">
          <img
            class="banner__image banner__image--first"
            src="/images/milk-tablet.png"
            alt="A jug of milk with inscription bio eco"
          />
        </li>
        <li class="banner__item">
          <p class="banner__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
        </li>
        <li class="banner__item">
          <img
            class="banner__image banner__image--middle"
            src="/images/cone-mobile.png"
            alt="ice-cream cone"
          />
        </li>
        <li class="banner__item">
          <svg class="banner__icon banner__icon--up">
            <use href="/images/symbol-defs.svg#banner-icon-1"></use>
          </svg>
        </li>
        <li class="banner__item">
          <svg class="banner__icon banner__icon--down">
            <use href="/images/symbol-defs.svg#banner-icon-2"></use>
          </svg>
        </li>
        <li class="banner__item">
          <img
            class="banner__image banner__image--last"
            src="/images/girl-tablet.png"
            alt="girl with sunglasses wearing blue swimsuit licking ice-cream cone and comic cloud with insciption soooooo tasty!"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
