<!-- Szymon -->
<section class="hero-header" id="hero-header">
  <div class="container">
    <div>
      <nav class="hero-header__nav">
        <div class="hero-header__logo">
          <a href="#hero-header">
            <img
              src="/images/logo/logo@x1.png"
              srcset="/images/logo/logo@2x.png 2x"
              alt="IceCream brand logo"
            />
          </a>
        </div>
        <ul class="hero-header__nav-list">
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link" href="#hero-header">Home</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link" href="#customer-reviews">About us</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link" href="#about">How it's made</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link" href="#products">Our products</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link" href="#contacts">Contact</a>
          </li>
        </ul>
        <div class="navigation__icon__box">
          <button
            type="button"
            class="menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="navigation__icon" width="20px" height="12px">
              <use href="/images/symbol-defs.svg#icon-Burger"></use>
            </svg>
          </button>
          <button class="navigation__button" type="button" header-modal-open>
            Buy now
            <svg class="navigation__button__icon" width="8px" height="10px">
              <use href="/images/symbol-defs.svg#icon-buy-now"></use>
            </svg>
          </button>
        </div>
      </nav>
      <div class="backdrop is-hidden" header-modal>
        <div class="header-modal">
          <button class="header-modal__close-btn" header-modal-close>
            <svg width="14px" height="14px">
              <use href="/images/symbol-defs.svg#icon-close"></use>
            </svg>
          </button>
          <form name="form-input-data">
            <fieldset class="header-modal-form">
              <legend class="header-modal-form__header">
                Zostaw swoje dane w formularzu poniżej
              </legend>
              <ul class="header-modal-form__list">
                <li class="header-modal-form__list-item">
                  <label class="header-modal-form__input-name"
                    ><span class="header-modal-form__textarea-name">Imie</span>
                    <input
                      required
                      class="header-modal-form__input-textarea"
                      name="name"
                      type="text"
                      maxlength="20"
                      minlength="3"
                    />
                  </label>
                </li>
                <li class="header-modal-form__list-item">
                  <label class="header-modal-form__input-name"
                    ><span class="header-modal-form__textarea-name">Telefon</span>
                    <input
                      required
                      class="header-modal-form__input-textarea"
                      name="tel"
                      type="tel"
                      pattern="[0-9]{9}"
                      title="Prosze używać tylko liczb od 0 do 9"
                    />
                  </label>
                </li>
                <li class="header-modal-form__list-item">
                  <label class="header-modal-form__input-name"
                    ><span class="header-modal-form__textarea-name">Email</span>
                    <input
                      required
                      class="header-modal-form__input-textarea"
                      name="email"
                      type="email"
                  /></label>
                </li>
                <li class="header-modal-form__list-item">
                  <label class="header-modal-form__input-name">
                    <span class="header-modal-form__textarea-name">Komentarz</span>
                    <textarea
                      class="header-modal-form__commentarea"
                      name="comment"
                      placeholder="Wprowadź tekst"
                    ></textarea>
                  </label>
                </li>
              </ul>
              <label class="header-modal-form__checkbox">
                <input
                  required
                  class="checkbox"
                  type="checkbox"
                  name="privacy-policy"
                  value="Oświadczam iż akceptuję Regulamin i Politykę Prywatności."
                />
                <span class=""
                  >Oświadczam iż akceptuję
                  <a href="" class="checkbox-link">Regulamin</a>
                  <span>i</span>
                  <a href="" class="checkbox-link">Politykę Prywatności</a><span>.</span></span
                >
              </label>
              <div class="header-modal-form__submit-button-box">
                <button type="submit" class="header-modal-form__submit-button">Wyślij</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="menu-container js-menu-container" id="mobile-menu">
        <div class="menu-container__box">
          <div class="mobile-navigation__button-box">
            <button class="mobile-navigation__button" type="button" header-mobile-modal-open>
              <span class="mobile-navigation__button__text">Buy now</span>
              <svg width="8px" height="10px">
                <use href="/images/symbol-defs.svg#icon-buy-now"></use>
              </svg>
            </button>
            <button class="js-close-menu">
              <svg class="mobile-navigation__close-icon" width="14px" height="14px">
                <use href="/images/symbol-defs.svg#icon-close"></use>
              </svg>
            </button>
          </div>
          <div class="mobile-navigation">
            <ul class="mobile-navigation__list">
              <li class="mobile-navigation__list__item">
                <a class="mobile-navigation__list__link" href="#hero-header">Home</a>
              </li>
              <li class="mobile-navigation__list__item">
                <a class="mobile-navigation__list__link" href="#customer-reviews">About us</a>
              </li>
              <li class="mobile-navigation__list__item">
                <a class="mobile-navigation__list__link" href="#about">How it's made?</a>
              </li>
              <li class="mobile-navigation__list__item">
                <a class="mobile-navigation__list__link" href="#products">Our products</a>
              </li>
              <li class="mobile-navigation__list__item">
                <a class="mobile-navigation__list__link" href="#contacts">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Szymon -->
    <!--Natalia-->
    <div class="banner hero-header__banner">
      <ul class="banner__list">
        <li class="banner__item">
          <ul class="title-section banner__title-section">
            <li class="title-section__item">
              <h1 class="title-section__text">
                ice cream made with <accent class="title-section__text--accent">passion</accent>
              </h1>
            </li>
            <li class="title-section__item">
              <ul class="title-section__buttons">
                <li>
                  <a class="banner__link" href="#products">
                    <button class="title-section__button title-section__button--left" type="button">
                      Products
                    </button>
                  </a>
                </li>
                <li>
                  <a class="banner__link" href="#howitsmade">
                    <button
                      class="title-section__button title-section__button--right"
                      type="button"
                    >
                      How it's made?
                    </button>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="banner__item">
          <ul class="icon-section banner__icon-section">
            <li class="icon-section__item">
              <svg class="icon-section__icon icon-section__icon--up">
                <use href="/images/symbol-defs.svg#banner-icon-1"></use>
              </svg>
            </li>
            <li class="icon-section__item">
              <svg class="icon-section__icon icon-section__icon--down">
                <use href="/images/symbol-defs.svg#banner-icon-2"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="banner__item">
          <ul class="description-section banner__description-section">
            <li class="description-section__item">
              <img
                class="description-section__image"
                src="/images/milk-tablet.png"
                srcset="
                  /images/milk-tablet@2x.png  2x,
                  /images/milk-desktop.png    1x,
                  /images/milk-desktop@2x.png 2x
                "
                alt="A jug of milk with inscription bio eco"
              />
            </li>
            <li class="desription-section">
              <ul class="description-section__text">
                <li>
                  <p class="description-section__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et
                  </p>
                </li>
                <li>
                  <a href=""
                    ><button type="button" class="description-section__button">
                      <img
                        class="description-section__icon"
                        src="/images/arrow-right-tablet.png"
                        alt=">"
                      /></button
                  ></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="banner__item">
          <div class="banner__image-box">
            <img
              class="banner__image"
              src="/images/girl-tablet.png"
              srcset="
                /images/girl-tablet@2x.png  2x,
                /images/girl-desktop.png    1x,
                /images/girl-desktop@2x.png 2x
              "
              alt="girl with sunglasses wearing blue swimsuit licking ice-cream cone and comic cloud with insciption soooooo tasty!"
            />
          </div>
        </li>
      </ul>
      <div class="background container">
        <img
          class="background__background-image"
          src="/images/cone-mobile.png"
          srcset="
            /images/cone-mobile@2x.png,
            /images/cone-tablet.png     1x,
            /images/cone-tablet@2x.png  2x,
            /images/cone-desktop.png    1x,
            /images/cone-desktop@2x.png 2x
          "
          alt="ice-cream cone"
        />
      </div>
    </div>
    <!--Natalia-->
  </div>
</section>
