<section class="hero-header">
  <div class="container">
    <div>
      <nav class="hero-header__nav">
        <div class="hero-header__logo"></div>
          <img
            src="/images/logo/logo@x1.png"
            srcset="/images/logo/logo@2x.png 2x"
            alt="IceCream brand logo"
          />
        </div>
        <ul class="hero-header__nav-list">
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link">Home</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link">About us</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link">How it's made</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link">Our products</a>
          </li>
          <li class="hero-header__nav-list__item">
            <a class="hero-header__nav-list__link">Contact</a>
          </li>
        </ul>
        <div class="navigation__icon__box">
          <button
            type="button"
            class="menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="navigation__icon" width="20" height="12px">
              <use href="./images/symbol-defs.svg#icon-Burger"></use>
            </svg>
          </button>
        </div>
        <button class="navigation__button" type="button">Buy now ></button>
      </nav>
      <div>
        <div class="menu-container js-menu-container" id="mobile-menu">
          <button>Buy now</button>
          <button class="js-close-menu">
            <!-- <svg>
                <use></use>
              </svg> -->
          </button>
          <div class="mobile-navigation">
            <ul class="mobile-navigation__list">
              <li class="mobile-navigation__list__item">
                <a class="mobile-navigation__list__link">Home</a>
              </li>
              <li>
                <a>About us</a>
              </li>
              <li>
                <a>How it's made?</a>
              </li>
              <li>
                <a>Our products</a>
              </li>
              <li>
                <a>Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
