.offscreen {
  position: absolute;
  left: -1000em;
}
.contacts {
  width: 100%;
  margin-top: 86px;
  background-color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 5.3%,
    rgba(255, 245, 246, 1) 5.3%,
    rgba(255, 245, 246, 1) 100%
  );
  &__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
  }
  &__item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
.contacts-box {
  background-color: getColor('text-color-light');
  width: 68.75%;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-top: 0;
  padding-left: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  &__type {
    display: block;
    border: none;
    width: 80px;
    height: auto;
    background-color: #f0d1a5;
    border-radius: 4px;
    &--foodtruck {
      background-color: #c2e297;
      width: 130px;
    }
  }
  &__type-text {
    font-family: getFF('description-font');
    color: getColor('text-color-light');
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  &__place {
    margin-top: 25px;
    width: 81.36%;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
  &__city {
    font-family: getFF('description-font');
    color: getColor('text-color-dark');
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    padding-bottom: 10px;
  }
  &__description {
    font-family: getFF('description-font');
    color: getColor('text-color-medium');
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.04em;
  }
  &__opening-hours {
    margin-top: 25px;
    width: 81.36%;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
  &__days {
    font-family: getFF('description-font');
    color: getColor('text-color-dark');
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
  }
  &__hours {
    font-family: getFF('description-font');
    color: getColor('brand-color-light');
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    &--first {
      padding-bottom: 10px;
    }
  }
  &__address {
    margin-top: 25px;
    width: 81.36%;
  }
  &__link {
    display: block;
    font-family: getFF('description-font');
    color: getColor('text-color-medium');
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    font-style: normal;
    text-decoration: none;
  }
}

.buttons-grid {
  margin: 54px auto 113px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  &__item {
    flex-basis: calc((100% - 20px) / 2);
  }
  &__button {
    display: block;
    position: relative;
    border: none;
    height: 44px;
    cursor: pointer;

    border-radius: 22px;
    &--locations {
      background-color: getColor('brand-color-dark');
      width: 161.45px;
    }
    &--franchise {
      background-color: getColor('text-color-light');
      width: 161px;
      &:hover,
      &:focus {
        background-color: #ecebeb;
      }
    }
  }
  &__button-text {
    font-family: getFF('description-font');
    font-weight: 700;
    font-size: 16px;
    line-height: 131%;
    text-align: center;
    &--locations {
      color: getColor('text-color-light');
      padding-right: 8px;
    }
    &--franchise {
      color: getColor('brand-color-dark');
      padding-right: 13.17px;
    }
  }
  &__icon {
    position: absolute;
    &--first {
      width: 5.61px;
      height: 10px;
      top: 17.5px;
      right: 17.84px;
      fill: getColor('text-color-light');
    }
    &--second {
      width: 5.28px;
      height: 10px;
      top: 17.5px;
      right: 31.3px;
      fill: getColor('brand-color-dark');
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    margin-top: 119px;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 9.4%,
      rgba(255, 245, 246, 1) 9.4%,
      rgba(255, 245, 246, 1) 100%
    );
    &__grid {
      margin-left: 36px;
      margin-right: 36px;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }
  .contacts-box {
    width: 28.5%;
    padding-left: 31px;
    padding-top: 50px;
    padding-bottom: 50px;
    &__type {
      width: 73px;
      border-radius: 6px;
      &--foodtruck {
        width: 138px;
      }
    }
    &__type-text {
      font-size: 16px;
    }
    &__place {
      margin-top: 30px;
      width: 71.36%;
      padding-bottom: 30px;
    }
    &__city {
      font-size: 14px;
      padding-bottom: 14px;
    }
    &__description {
      font-size: 14px;
      line-height: 166%;
    }
    &__opening-hours {
      margin-top: 30px;
      width: 71.36%;
      padding-bottom: 30px;
    }
    &__days {
      font-size: 14px;
    }
    &__hours {
      font-size: 14px;
      &--first {
        padding-bottom: 16px;
      }
    }
    &__address {
      margin-top: 30px;
      width: 71.36%;
    }
    &__link {
      font-size: 14px;
      line-height: 183%;
    }
  }
  .buttons-grid {
    margin-top: 81px;
    margin-bottom: 158px;
    margin-right: 196px;
    margin-left: 196px;
    flex-direction: row;
    gap: 14.5px;
    justify-content: center;
    align-items: flex-start;
    &__item {
      flex-basis: calc((100% - 29px) / 2);
    }
    &__button {
      &--locations {
        width: 191.45px;
      }
      &--franchise {
        width: 174.05px;
      }
    }
    &__button-text {
      &--locations {
        padding-right: 13.4px;
      }
    }
    &__icon {
      position: absolute;
      &--first {
        width: 5.28px;
        right: 34.77px;
      }
      &--second {
        right: 38.63px;
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    margin-top: 132px;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 12%,
      rgba(255, 245, 246, 1) 12%,
      rgba(255, 245, 246, 1) 100%
    );
    &__grid {
      margin-left: 115px;
      margin-right: 115px;
      flex-direction: row;
      gap: 30px;
      justify-content: center;
      align-items: flex-start;
    }
    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
  .contacts-box {
    width: 330px;

    padding-left: 43px;
    padding-top: 51px;
    padding-bottom: 62px;
    &__type {
      width: 73px;

      border-radius: 6px;
      &--foodtruck {
        width: 138px;
      }
    }
    &__type-text {
      font-size: 16px;
    }
    &__place {
      margin-top: 32px;
      width: 73.63%;
      padding-bottom: 32px;
    }
    &__city {
      font-size: 16px;
    }
    &__description {
      font-size: 16px;
      line-height: 183%;
    }
    &__opening-hours {
      margin-top: 32px;
      width: 73.63%;
      padding-bottom: 32px;
    }
    &__days {
      font-size: 16px;
    }
    &__hours {
      font-size: 16px;
      &--first {
        padding-bottom: 15px;
      }
    }
    &__address {
      margin-top: 32px;
      width: 73.63%;
    }
    &__link {
      font-size: 16px;
      line-height: 183%;
    }
  }
  .buttons-grid {
    margin: 86px 444px 165px 443px;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
    &__button {
      &--locations {
        width: 198px;
      }
      &--franchise {
        width: 180px;
      }
    }
    &__button-text {
      &--locations {
        padding-right: 13.62px;
      }
      &--franchise {
        padding-right: 13.62px;
      }
    }
    &__icon {
      &--first {
        width: 5.43px;
        right: 35.96px;
      }
      &--second {
        width: 5.43px;
        right: 39.96px;
      }
    }
  }
}
