.footer-section {
  background-color: map-get($color, background-color-medium);
  width: 100%;
}
.footer__container {
  margin: 0 auto;
  padding: 0px 20px 0px 21px;
  display: block;
}
@media screen and (max-width: 767px) {
  .footer__icons--inside {
    margin-top: 43px;
  }
  .footer__big-text {
    padding-top: 113px;
  }
}

@media screen and (min-width: 768px) {
  .footer__big-text {
    padding-top: 165px;
  }
  .footer__icons--inside {
    padding-top: 165px;
  }
}
.footer__big-text {
  color: map-get($color, brand-color-dark);
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(20.61 / 18);
  text-transform: uppercase;
}
.footer__bigger-text {
  margin: 0px;
  margin-top: 17px;
  width: 200px;
  color: map-get($color, brand-color-dark);
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.footer-icon-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-icon-background {
  width: 32px;
  height: 32px;
  background-color: map-get($color, brand-color-light);
  border-radius: 50%;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 24px;
  }
  &:hover,
  :focus {
    background-color: map-get($color, brand-color-dark);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: background-color;
  }
}
.footer__icon1 {
  margin-right: 28px;
  border-radius: 50%;
  fill: map-get($color, brand-color-light);
}
.footer__icon2 {
  margin-right: 28px;
  border-radius: 50%;
  fill: map-get($color, brand-color-light);
}
.footer__icon3 {
  margin-right: 0px;
  border-radius: 50%;
  fill: map-get($color, brand-color-light);
}
.footer__contact-text {
  margin-top: 46px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  color: #000000;
  align-self: flex-end;
}
.footer__contact-text > span {
  color: map-get($color, brand-color-dark);
}
.footer__abyss {
  margin-top: 65px;
  border-top: #e1e1e1 solid 1px;
}
.footer__abyss--text {
  margin: 22px auto 25px auto;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  color: map-get($color, text-color-medium);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    padding: 0px 36px;
  }
  .footer__columns {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
  }
  .footer__big-text {
    color: map-get($color, brand-color-light);
    width: 340px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(29.72 / 26);
    text-transform: uppercase;
  }
  .footer__bigger-text {
    margin-top: 16px;
    width: 340px;
    color: map-get($color, brand-color-dark);
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: calc(54.96 / 48);
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .footer__contact-text {
    margin-top: 46px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    color: #000000;
    align-self: flex-end;
  }
  .footer__contact-text > span {
    color: map-get($color, brand-color-dark);
  }
  .footer__abyss {
    margin-top: 91px;
    border-top: #e1e1e1 solid 1px;
  }
  .footer__abyss--text {
    margin: 29px auto 18px auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: map-get($color, text-color-medium);
  }
}

@media screen and (min-width: 1280px) {
  .footer__container {
    margin: 0 auto;
    display: block;
    padding: 0px 114px 0px 116px;
  }

  .footer__columns {
    display: flex;
    margin-right: 0px;
    gap: 257px;
    padding-right: 0px;
    justify-content: space-between;
  }

  .footer__big-text {
    width: 472px;
    color: map-get($color, brand-color-light);
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }
  .footer__bigger-text {
    margin-top: 16px;
    width: 474px;
    color: map-get($color, brand-color-dark);
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: calc(66.41 / 58);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .footer__icon1 {
    margin-right: 25px;
    border-radius: 50%;
    fill: map-get($color, brand-color-light);
    width: 34px;
    height: 34px;
  }
  .footer__contact-text {
    margin-top: 50px;
    color: #000000;
    align-self: flex-end;
    text-align: right;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .footer__contact-text > span {
    color: map-get($color, brand-color-dark);
  }
  .footer__abyss {
    margin-top: 98px;
    border-top: #e1e1e1 solid 1px;
  }
  .footer__abyss--text {
    margin: 9px auto 10px auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    text-align: center;

    color: var(--text-color-medium);
  }
}
